/build/
/.nb-gradle/private/
/eclipse
/.gradle
/.idea
*.iml
*.ipr
*.iws
/out
Thumbs.db
/bin
.classpath
.project
.settings/
/run
.nb-gradle-properties
CREDITS-fml.txt
forge-*-*-changelog.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt